$header_color2: rgba(255, 62, 0, 0.7);
$header_color: #E05959;
$indicator_color: #f50057;
$indicator_color2: #ff9e80;
$cubic1: cubic-bezier(.42,0,.92,1.41);
$cubic2:  cubic-bezier(.7,.03,.28,1.57);
$size: 800px;
// pattern mixin
// ref: https://codepen.io/mariiinda/pen/dtehw
@mixin pattern($bg-primary,$bg-secondary) {
  background:
    repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 1em,
    rgba($bg-secondary,0.4) 0,
    rgba($bg-secondary,0.1) 2em,
    transparent 0,
    transparent 1em,
    rgba($bg-secondary,0.3) 0,
    rgba($bg-secondary,0.2) 4em,
    transparent 0,
    transparent 1em,
    rgba($bg-primary,0.6) 0,
    rgba($bg-primary,0.2) 2em
  ),
  repeating-linear-gradient(
    45deg,
    transparent,
    transparent 1em,
    rgba($bg-secondary,0.4) 0,
    rgba($bg-secondary,0.1) 2em,
    transparent 0,
    transparent 1em,
    rgba($bg-secondary,0.3) 0,
    rgba($bg-secondary,0.2) 4em,
    transparent 0,
    transparent 1em,
    rgba($bg-primary,0.4) 0,
    rgba($bg-primary,0.1) 2em
  ), #FFF;
  background-blend-mode: multiply;
  background-attachment: fixed;
}
@mixin pattern2(
    $color1: rgb(178, 206, 254),
    $color2: rgb(186, 237, 145),
    $color3: rgb(242, 162, 232),
    $color4: rgb(248, 184, 139),
    $color5: rgb(250, 248, 132),
    $color6: rgb(254, 163, 170)
) {   
    background: 
        linear-gradient(180deg, rgba($color4,0) 20%, rgba($color4,.1) 20%, rgba($color4,.1) 40%, rgba($color4,.2) 40%, rgba($color4,.2) 60%, rgba($color4,.4) 60%, rgba($color4,.4) 80%, rgba($color4,.5) 80%),
        linear-gradient(45deg, rgba($color5,.3) 20%, rgba($color5,.4) 20%, rgba($color5,.4) 40%, rgba($color5,.5) 40%, rgba($color5,.5) 60%, rgba($color5,.6) 60%, rgba($color5,.6) 80%, rgba($color5,.7) 80%),
        linear-gradient(-45deg, rgba($color2,0) 20%, rgba($color2,.1) 20%, rgba($color2,.1) 40%, rgba($color2,.2) 40%, rgba($color2,.2) 60%, rgba($color2,.4) 60%, rgba($color2,.4) 80%, rgba($color2,.6) 80%),
        linear-gradient(90deg, rgba($color1,0) 20%, rgba($color1,.3) 20%, rgba($color1,.3) 40%, rgba($color1,.5) 40%, rgba($color1,.5) 60%, rgba($color1,.7) 60%, rgba($color1,.7) 80%, rgba($color1,.8) 80%),
        linear-gradient(-90deg, rgba($color3,0) 20%, rgba($color3,.4) 20%, rgba($color3,.4) 40%, rgba($color3,.5) 40%, rgba($color3,.5) 60%, rgba($color3,.6) 60%, rgba($color3,.6) 80%, rgba($color3,.8) 80%),
        linear-gradient(180deg, rgba($color6,0) 20%, rgba($color6,.4) 20%, rgba($color6,.4) 40%, rgba($color6,.6) 40%, rgba($color6,.6) 60%, rgba($color6,.8) 60%, rgba($color6,.8) 80%, rgba($color6,.9) 80%)
    ;
    background-color: $color6;
    background-size: 100% 100%;
    min-height: 100%;
}
@mixin pattern3(
    $color1: #FFF,
    $color2: #a4a4a4,
    $color3: rgba(black, 0.3) 
) {
  background: 
    radial-gradient($color3 3px, transparent 4px),
    radial-gradient($color3 3px, transparent 4px),
    linear-gradient($color1 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, $color2 75px, $color2 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, $color2 76px, $color2 77px, transparent 78px, transparent 109px),
  $color1;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}
@mixin pattern4(
    $color1: white,
    $color2: black,
    $size: 2em
) {
    background:
    linear-gradient(-45deg, $color1 25%, transparent 25%, transparent 75%, $color2 75%, $color2) 0 0,
    linear-gradient(-45deg, $color2 25%, transparent 25%, transparent 75%, $color1 75%, $color1) 1em 1em,
    linear-gradient(45deg, $color2 17%, transparent 17%, transparent 25%, $color2 25%, $color2 36%, transparent 36%, transparent 64%, $color2 64%, $color2 75%, transparent 75%, transparent 83%, $color2 83%) 1em 1em;
    background-color: $color1;
    background-size: $size $size;
}

html {
  height: 100%;
  @include pattern(rgba(#ffE3E8, 0.1), rgba(#ffE3E8, 0.1));
  //@include pattern2();
}
.basic-mode {
    .text1, .text2, .arches, .pillar, .couple1, .card1 {
        display: none!important;
    }
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    //background: #fff3f8;
}
body, html, * {
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,Apple LiGothic,"微軟正黑體",Microsoft JhengHei!important;
}
@keyframes popup {
    0%, 100% {
        transform: rotate(-2deg);
    }
    50% {
        transform: rotate(5deg);
    }

}
@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes ready_open {
    from {
        transform: translateZ($size / -2) rotateX(2deg);
    }
    to {
        transform: translateZ($size / -2) rotateX(8deg);
    }
}
@keyframes ready_open2 {
    from {
        transform: translateZ($size / 2);
    }
    to {
        transform: translateZ($size / 2) rotateX(10deg);
    }
}
@keyframes rotate_bell {
    0%, 100%{
        transform: rotateZ(0deg) translateZ(30px);
    }
    25% {
        transform: rotateZ(20deg) rotateX(20deg) translateZ(30px);
    }
    75% {
        transform: rotateZ(-20deg) rotateX(-10deg) translateZ(30px);
    }
}
@keyframes card_rotate {
    0%, 100% {
        transform: translateY(-100px) rotateX(90deg) rotateZ(20deg);
    }
    50% {
        transform: translateY(-100px) rotateX(90deg) rotateZ(-20deg);
    }
}
@mixin debug() {
    //background: rgba(red, 0.2);
    box-shadow: 0 0 5px red;
}
body {
    .container {
        $color1: brown;
        $color2: gold;
        $color3: brown;
        width: $size + 50px;
        padding-top: 25px;
        padding-bottom: 50px;
        margin: 0 auto;
        @include pattern4(rgba(white, 1), rgba(gold, 0.3));
        border-bottom: 6px solid brown;
        position: relative;
        box-shadow: 
            2px 0 0 $color1,
            -2px 0 0 $color1,
            3px 0 0 $color2,
            -3px 0 0 $color2,
            6px 0 0 $color3,
            -6px 0 0 $color3
            ;
    }
    .zone {
        position: relative;
        width: $size; height: $size*0.8;
        perspective: 800px;
        perspective-origin: center 60%;
        transition: all 0.3s ease-in;
        margin: 0 auto;
    }
    .group {
        position: relative;
        width: $size; height: $size*0.8;
        margin: auto;
        transform-style: preserve-3d;
        transition: all 0.6s ease-in;
    }
    .card {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 0.3s $cubic1;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        & > .back {
            transform-origin: center center;
            transform: rotateY(180deg) rotateZ(180deg);
        }
    }
    .card-2019 {
        .card-group {
            transform: translateZ($size / 2); //TODO IE 要拿掉
            .basic-mode & {
                transform: translateZ(0);
            }
        }
        z-index: 10;
        .card1 {
            @include pattern2(#CCD, gray, green, #FFC, #EFD, #AFF);
            background-size: 100% 100%;
            transform-origin: top center;
            transform: translateZ($size / -2) rotateX(0deg);
        }
        .carpt {
            $w: 25%;
            width: $w;
            height: 100%;
            background: rgba(white, 0.7);
            left: #{(100% - $w) / 2};
            transform-origin: top center;
            transform: scaleY(0);
        }
        .card2 {
            transform-origin: top center;
            transform: translateZ($size / -2) rotateX(0deg);
            box-shadow: 0 0 3px gray;
            & > .front {
                $color: #d28c00;
                background-image: url(../img/bg2.jpg);
                background-position: left top;
                transform: translateZ(2px);
                .frame {
                    width: 80%; left: 10%;
                    background-image: url(../img/front1.png);
                    transform: translateZ(10px);
                }
                .square {
                    background: white;
                    width: 36.75%;
                    left: 31.625%;
                    height: 45.9375%;
                    top: 27%;
                }
                .square-svg {
                    $margin: 3%;
                    width: 100% - $margin*2;
                    height: 100% - $margin*2;
                    fill: none;
                    stroke-width: 1px;
                    stroke: $color;
                    x: $margin; y: $margin;
                    stroke-dasharray: 1200px;
                    transition: stroke-dashoffset 0.6s ease-in;
                }
                .front-logo , .loading {
                    transition: all 0.3s ease-in;
                }
                .front-logo {
                    opacity: 0;
                    visibility: hidden;
                    background: url(../img/logo_hole.png), linear-gradient(0deg, $color 50%, white 52%, #CCC 55%);
                    background-size: cover, 100% 200%;
                    background-position: 0 0, 0 0;
                    width: 800px; height: 600px;
                    transform: scale(0.3275);
                    transform-origin: 3% 8%;
                    left: 0; top: 0;
                }
                .loading {
                    opacity: 0;
                    visibility: hidden;
                    font-size: 1.5em;
                    height: 2em;
                    bottom: 0.5em;
                    line-height: 1em;
                    padding: 0.5em 0;
                    text-align: center;
                    box-sizing: border-box;
                    color: $color;
                    font-family: "Libre Franklin", cursive !important;
                    animation: blink 1s ease-in infinite alternate;
                }
                .text-group {
                    top: 10%; left: 0;
                    font-size: 76px;
                    text-align: center;
                    color: $color;
                    font-weight: bold;
                    .line1 {
                        @for $i from 1 through 7 {
                            span:nth-child(#{$i}) {
                                transition-delay: #{0.05 * $i}#{s};
                            }
                        }
                    }
                    .line2 {
                        @for $i from 1 through 10 {
                            span:nth-child(#{$i}) {
                                transition-delay: #{0.05 * ($i + 7)}#{s};
                            }
                        }
                    }
                    span {
                        transition: all 0.2s ease-in;
                        opacity: 0;
                        transform: scale(0.7);
                        display: inline-block;
                        font-family: 'Amatic SC', cursive !important;
                        margin: -0.03em;;
                    }
                    &.active {
                        span {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }
                .save-the-date {
                    opacity: 1;
                    visibility: visible;
                    font-family: "Libre Franklin", cursive !important;
                    font-weight: normal;
                    font-size: 16px;
                    padding-top: 16px;
                    transition: all 0.3s ease-in;
                    animation: blink 1s ease-in infinite alternate;
                }
            }
            & > .back {
                background: url(../img/bg1.jpg);
                background-size: 100% auto;
                background-position: center top;
            }
        }
        .flowerbg {
            width: 100%;
            height: 100%;
            background-image: url(../img/flowerbg.png);
            background-size: 100% auto;
            background-position: center top;
            transform: translateZ(30px);
        }
        .flower1b, .flower2b {
            width: 30%;
            height: 60%;
            background-image: url(../img/flowerbg2.png);
            transform: translateY(30px);
        }
        .flower1b {
            background-position: left bottom;
        }
        .flower2b {
            background-position: right bottom;
        }
        .flower2b {
            right: 0;
        }
        .flower3, .flower4, .flower5 {
            opacity: 0;
        }
        .flower3 {
            background-image: url(../img/flower3.png);
            width: 30%;
            height: 40%;
            background-size: contain;
            background-repeat: no-repeat;
            transform: translateZ($size * 0.1) translateX($size * 0.15) translateY(20%) rotateZ(0deg);
        }
        .flower4 {
            background-image: url(../img/flower4.png);
            width: 30%;
            height: 40%;
            background-size: contain;
            background-repeat: no-repeat;
            transform: translateZ($size * 0.1) translateX($size * 0.5) translateY(20%) rotateZ(20deg);
        }
        .flower5 {
            background-image: url(../img/flower5.png);
            width: 30%;
            height: 40%;
            background-size: contain;
            background-repeat: no-repeat;
            transform: translateZ($size * 0.15) translateX($size * 0.3) translateY(40%) rotateZ(20deg);
        }
        .couple1 {
            $w: 0.3; $h: 0.6;
            background: url(../img/couple_small.png);
            background-size: contain;
            background-position: center bottom;
            background-repeat: no-repeat;

            width: $size * $w; left: $size * (1 - $w) / 2;
            height: $size * $h; top: $size * 0;
            transform-origin: bottom center;
            transform: translateZ($size / -2) translateY(-200px) rotateX(180deg) scale(0.8);
        }
        .pillars {
            $w: 0.13; $h: 0.3;
            background: url(../img/pillars.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center bottom;
            transform-origin: bottom center;
            backface-visibility: visible;
            width: $size * $w;
            height: $size * $h;
        }
        .pillars1 {
            $w: 0.13; $h: 0.3;
            left: calc(50% - #{$size * $w / 2});
            top: 0;
            transform: translateZ($size / -2) translateX($size / 4) translateY(60px) rotateX(360deg);
        }
        .pillars2 {
            $w: 0.13; $h: 0.3;
            left: calc(50% - #{$size * $w / 2});
            top: 0;
            transform: translateZ($size / -2) translateX($size / 4) translateY(260px) rotateX(360deg);
        }
        .pillars3 {
            $w: 0.13; $h: 0.3;
            left: calc(50% - #{$size * $w / 2});
            top: 0;
            transform: translateZ($size / -2) translateX($size / -4) translateY(60px) rotateZ(180deg) rotateX(180deg);
        }
        .pillars4 {
            $w: 0.13; $h: 0.3;
            left: calc(50% - #{$size * $w / 2});
            top: 0;
            transform: translateZ($size / -2) translateX($size / -4) translateY(260px) rotateZ(180deg) rotateX(180deg);
        }
        .arches {
            $w: 0.6; $h: 0.9;
            background: url(../img/arches.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center bottom;
            opacity: 0.85;

            width: $size * $w; left: $size * (1 - $w) / 2;
            height: $size * $h; top: $size * 0.2;
            transform-origin: bottom center;
            backface-visibility: visible;
            transform: translateZ($size / -2) translateY($size * -1) rotateX(180deg) scale(0.75);
            .bell {
                $bell_size: $size * 0.18;
                width: $bell_size; height: $bell_size;
                background: url(../img/bell.png);
                background-size: contain;
                background-repeat: no-repeat;
                transform: rotateZ(0deg) translateZ(30px);
                transform-origin: 55% top;
                left: calc(50% - #{$bell_size / 2}); top: $size*0.15;
            }
        }
        .text1 {
            text-align: center;
            $w: 0.6; $h: 0.1;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center bottom;
            width: $size * $w; left: $size * 0.1;
            height: $size * $h; bottom: $size * 0;
            line-height: $size * $h;
            font-weight: bold;
            text-shadow: 
                1px 0 0 white,
                -1px 0 0 white,
                0 -1px 0 white,
                0 1px 0 white;
            transform-origin: bottom center;
            backface-visibility: visible;
            font-size: 4.2em;
            font-family: "Arizonia", cursive !important;
            transform: translateZ($size / -2) translateY( -0.1 * $size) rotateX(0deg);
        }
        .text2 {
            text-align: center;
            $w: 0.5; $h: 0.1;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center bottom;
            width: $size * $w; right: $size * 0.1;
            height: $size * $h; bottom: $size * 0;
            line-height: $size * $h;
            font-weight: bold;
            text-shadow: 
                1px 0 0 white,
                -1px 0 0 white,
                0 -1px 0 white,
                0 1px 0 white;
            transform-origin: bottom center;
            backface-visibility: visible;
            font-size: 2.2em;
            font-family: "Arizonia", cursive !important;
            transform: translateZ($size / -2) translateY( -0.1 * $size) rotateX(0deg);
        }
        &[data-state="loading"] {
            overflow-x: hidden;
            overflow-y: hidden;
            .square-svg {
                stroke-dashoffset: -1200px;
            }
            .card2 > .front {
                .loading, .front-logo {
                    opacity: 1;
                    visibility: visible;
                }
                .save-the-date {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
        &[data-state="ready"] {
            .card2 {
                animation: ready_open 2s ease-in infinite alternate;
            }
        }
        &[data-state="open1"] {
            .card-group {
                transform: translateZ(0) rotateX(90deg) rotateZ(10deg);
            }
        }
        &[data-state="open2"] {
            //display: none;
            .card {
                transition: all 0.3s $cubic2;
            }
            .card2 > .front {
                display: none;
            }
            .card-group {
                animation: card_rotate 6s linear infinite;
            }
            .carpt {
                transform: scaleY(1) translateZ(5px);
                box-shadow: 0 0 10px rgba(gray, 0.3);
                .svg_path {
                    width: 100%;
                    position: absolute;
                    bottom: -10%;
                    fill: #CDC;
                }
            }
            .card1 {
                transform: translateZ($size / -2) rotateX(0deg);
            }
            .card2 {
                transform: translateZ($size / -2) rotateX(90deg);
            }
            .couple1 {
                transform: translateZ($size / -2) translateY($size * -0.3) rotateX(270deg);
            }
            .pillars1 {
                transform: translateZ($size / -2) translateX($size / 4) translateY(60px) rotateX(270deg);
            }
            .pillars2 {
                transform: translateZ($size / -2) translateX($size / 4) translateY(260px) rotateX(270deg);
            }
            .pillars3 {
                transform: translateZ($size / -2) translateX($size / -4) translateY(60px) rotateZ(180deg) rotateX(270deg);
            }
            .pillars4 {
                transform: translateZ($size / -2) translateX($size / -4) translateY(260px) rotateZ(180deg) rotateX(270deg);
            }
            .arches {
                transform: translateZ($size / -2) translateY($size * -0.9) rotateX(270deg);
            }
            .bell {
                transform: rotateZ(0deg) translateZ(30px);
                animation: rotate_bell 2s linear infinite;
            }
            .text1 {
                transform: translateZ($size / -2) translateY( -0.2 * $size) translateZ($size * 0.45) rotateX(-90deg) rotateY(-10deg);
            }
            .text2 {
                transform: translateZ($size / -2) translateY( -0.24 * $size) translateZ($size * 0.4) rotateX(-90deg) rotateY(10deg);
            }
            .flower3, .flower4, .flower5 {
                transition-delay: 0.2s;
                opacity: 1;
            }
            .flower3 {
                transform: translateZ($size * 0.1) translateX($size * 0.0) translateY(10%) rotateZ(20deg);
            }
            .flower4 {
                transform: translateZ($size * 0.1) translateX($size * 0.6) translateY(10%) rotateZ(20deg);
            }
            .flower5 {
                transform: translateZ($size * 0.15) translateX($size * 0.3) translateY(-0%) rotateZ(20deg);
            }
        }
        &[data-state="open3"] {
            display: none;
        }
    }
}
.inside {
    [data-state="loading"] ~ &,
    [data-state="ready"] ~ &,
    [data-state="open1"] ~ & {
        display: none;
    }
}
.normal-header {
    display: none;
    width: 850px; height: 844px; 
    background: url(../img/basic.jpg);
    position: relative;
    z-index: 20;
    .text1,.text2 {
        font-size: 8.2em;
        font-family: "Arizonia", cursive !important;
        text-align: left;
        font-weight: bold;
        padding-top: 2em;
        text-shadow: 
            1px 0 0 white,
            -1px 0 0 white,
            0 -1px 0 white,
            0 1px 0 white;
    }
    .text1 {
        
        transform: rotate(-10deg);
        padding: 2.2em 0 0 0;
        text-align: center;
    }
    .text2 {
        transform: rotate(-5deg);
        padding-top: 0;
        font-size: 4em;
        text-align: right;
        padding: 0 2em;
    }
    .couple {
        $w: 280px;
        background: url(../img/couple_small.png);
        background-size: contain;
        width: $w;
        height: $w / 380 * 600;
        display: inline-block;
        position: absolute;
        left: calc(50% - #{$w/2});
        bottom: $w / -2;
        transform-origin: center 80%;
        animation: popup 1.5s linear infinite alternate;
    }
    [data-state="open3"] ~ & {
        display: block;
    }
}
.mail-body {
    height: 800px;
    position: relative;
    * {
        font-family: 'notoserifcjktc'!important;
    }
    background: url(../img/basic.png), url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto, auto auto;
    background-position: center top, left center;
    box-shadow: 0 3px 3px gray;
    margin: 0 10px;
    line-height: 1.8em;
    font-size: 1.6em;
    text-align: center;
    text-shadow: 
        1px 0 0 white,
        -1px 0 0 white,
        0 -1px 0 white,
        0 1px 0 white;
    .svg_path {
        $w: 200px;
        position: absolute;
        width: $w;
        left: calc(50% - #{$w / 2});
        top: 30%;
        //fill: rgba(gray, 0.3);
        fill: white;
        stroke: rgba(#640, 0.9);
    }
    .body-text1 {
        margin: 0;
        font-weight: bold;
        padding-top: 7em;
    }
    .person {
        margin: 0.5em 0;
        display: inline-block;
        width: 35%;
        z-index: 10;
        position: relative;
        em {
            font-style: normal;
            display: block;
            color: gray;
        }
    }
    .body-text2 {
        margin-top: 0;
        span {
            display: inline-block;
            margin: 0.3em; 
            letter-spacing: 0.2em;
        }
    }
    .body-text3 {
        margin: 0;
        & > span {
            position: relative;
            &:hover .tips {
                opacity: 1;
                visibility: visible;
                transform: translateX(0em);
            }
            .tips {
                opacity: 0;
                visibility: hidden;
                transform: translateX(2em);
                transition: all 0.3s ease-in;
                font-size: 0.5em;
                position: absolute;
                line-height: 1.5em;
                width: 22em;
                font-family: '微軟正黑體'!important;
                text-align: left;
                bottom: 100%;
                left: 20%;
                border-radius: 2em 1em 1em 0;
                background: #FFC;
                padding: 1em;
                padding-bottom: 0.5em;
            }
        }
        em {
            font-style: normal;
            display: block;
            color: gray;
        }
    }
}
.traffic-info {
    min-height: 1em;
    height: 400px;
    position: relative;
    * {
        font-family: 'notoserifcjktc'!important;
    }
    background: url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: right top;
    box-shadow: 0 3px 3px gray;
    margin: 0 10px;
    iframe {
        width: 100%;
        height: 100%;
    }
}
.button {
    font-size: 3em;
    transition: opacity 0.3s ease-in;
    display: inline-block;
    padding: 0.5em;
    background: orange;
    color: white;
    border-radius: 100%;
    text-shadow: 0 -1px 0 brown;
    position: absolute;
    z-index: 100;
    opacity: 0.6;
    &:hover {
        opacity: 0.9;
    }
    &.icon-mail-close {
        [data-state="ready"] ~ &,
        [data-state="loading"] ~ & {
            display: none;
        }
        left: 10px;
        top: 20px;
    }
    &.icon-to3d,
    &.icon-expand {
        display: none;
        right: 10px;
        top: 20px;
    }
    &.icon-to3d {
        [data-state="open3"] ~ & {
            display: inline-block;
            .basic-mode & {
                display: none;
            }
        }
    }
    &.icon-expand {
        [data-state="open2"] ~ & {
            display: inline-block;
        }
    }
    &.icon-mail-open {
        display: none;
        [data-state="ready"] ~ & {
            display: inline-block;
        }

        right: 10px;
        top: 10px;
    }
}
/*
.wrap {
    position: absolute;
    left: 500px; top: 700px;
    width: 200px; height:200px;
	perspective: 800px;
	perspective-origin: 50% 50%;
    margin: 200px 0px;
    background: red;
}
.cube {
	position: relative;
	width: 200px; height: 200px;
	transform-style: preserve-3d;
    transition: all 0.3s ease-in;
    &:hover {
        transform: rotateZ(-90deg) rotateY(90deg);
    }
}
.cube div {
	position: absolute;
	width: 200px;
	height: 200px;
    background: rgba(red, 0.1);
    box-shadow: 0 0 35px rgba(black, 0.2) inset;
    transition: all 0.3s ease-in;
}
.back {
	transform: translateZ(-100px) rotateY(180deg);
}
.right {
	transform: translateZ(-100px) rotateY(0deg);
	transform-origin: right top;
    .cube:hover & {
        transform: translateZ(-100px) rotateY(90deg);
    }
}
.left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
}
.top {
	transform: rotateX(-90deg) translateY(-100px);
	transform-origin: top center;
}
.bottom {
	transform: rotateX(90deg) translateY(100px);
	transform-origin: bottom center;
}
.front {
	transform: translateZ(100px);
}
*/
